<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <div class="row center-text pill-pall-title">
      <h1 class="">
          PillPal
      </h1>
  </div>
  <div class="row pillpal_charts">
      <div class="col-md-4 pillpal_chart">
          <canvas class="chart_js_chart" id="active_users_chart"></canvas>
      </div>
      <div class="col-md-4 pillpal_chart">
          <canvas class="chart_js_chart" id="sales_chart"></canvas>
      </div>
      <div class="col-md-4 pillpal_chart">
          <canvas class="chart_js_chart" id="top_meds_chart"></canvas>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="pillpal-module">
              <div class="float_block_div">
                  <div class="align_left title"><span>Medicines</span></div>
                  <div class="buffer"></div>
              </div>
              <div class="med-list">
                      <p *ngFor="let medicine of medicines">{{medicine.name}}({{medicine.activeSubstance}}) {{medicien.dose}} ${{medicine.price}} </p>
              </div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="pillpal-module">
              <div class="float_block_div">
                  <div class="align_left title"><span>Add Medicine</span></div>
              </div>
              <div class="form-group ">
                <div class="col-6">
                  <label for="name" class="col-1">Name</label>
                  <input placeholder="Name"class="col-5 form-control" id="name">
                </div>
                <label>Dose</label>
                <input placeholder="Dose"class="form-control">
                <label>Active Substance</label>
                <input placeholder="Active Substance"class="form-control">
                <label>Price</label>
                <input placeholder="Price"class="form-control">
                <label>Quantity</label>
                <input placeholder="Quantity"class="form-control">
               
              </div>
              <button type="submit" class="btn btn-submit"> Save</button>
          </div>
      </div>
  </div>
</div>
